<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row pb-3">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">
              LOGO
            </h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem aperiam sunt provident omnis nisi.
            <ul class="footer-links mt-2">
              <li><a href="#"><i class="fa fa-map-marker"></i>KK 457 st</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+250 78715919</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>tienda@finn-solutions.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a href="#">Clothes</a></li>
              <li><a href="#">Furniture</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <p class="text-center text-white py-2"> &copy; All rights reserved by Finn Solutions</p>
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
