<div class="container-fluid">
  <div class="row text-center">
    <a href="https://web.facebook.com/Finn-Solutions-104448794605976" target="_blank" class="col-md-4 facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/finn_solutions" target="_blank" class="col-md-4 instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://twitter.com/Finn_Solutions" target="_blank" class="col-md-4 twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
</div>
