<app-navbar></app-navbar>
<nav style="background: #e9ecef;">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product name</a></li>
      <li class="breadcrumb-item"><a href="#">category</a></li>
      <li class="breadcrumb-item active" aria-current="page">Item</li>
    </ol>
  </div>
</nav>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="../assets/img/product01.png" alt="">
          </div>

          <div class="product-preview">
            <img src="../assets/img/product03.png" alt="">
          </div>

          <div class="product-preview">
            <img src="../assets/img/product06.png" alt="">
          </div>

          <div class="product-preview">
            <img src="../assets/img/product08.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-2 mt-lg-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img src="../assets/img/product01.png" alt="">
          </div>
          <div class="product-preview">
            <img src="../assets/img/product03.png" alt="">
          </div>

          <div class="product-preview">
            <img src="../assets/img/product06.png" alt="">
          </div>

          <div class="product-preview">
            <img src="../assets/img/product08.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-lg-5">
        <h3 class="pb-2">Product name</h3>
        <h2 class="text-danger pb-3"> $80</h2>
        <p><b class="text-muted">Availability:</b> In Stock</p>
        <p><b class="text-muted">Tags:</b> Black Lenovo</p>
        <p><b class="text-muted">Color:</b> red</p>
        <p class="font-weight-normal text-muted mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit voluptates vel quia in inventore! Eaque.
        </p>
        <ul class="nav flex-column mt-2">
          <li class="nav-item my-1">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            Operate incredibly
          </li>
          <li class="nav-item my-1">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            Awesome functionality
          </li>
          <li class="nav-item my-1">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            5GB RAM
          </li>
          <li class="nav-item my-1">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            Updated window
          </li>
          <li class="nav-item my-1">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            Well Maintained
          </li>
        </ul>
        <div class="row">
          <div class="col-5 mt-4">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Size</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-7">
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="product-tab">
          <ul class="nav tab-nav">
            <li><a data-toggle="tab" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews</a></li>
          </ul>
          <div class="tab-content" id="pills-tabContent" style="line-height: 1.8em;letter-spacing: .3px;">
            <div class="tab-pane fade show active" id="tab1">
              <div class="row">
                <div class="col-md-6">
                  <img src="../assets/img/hoddy.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 mt-md-5 pt-md-5">
                  <p class="text-muted font-weight-normal ">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt possimus ipsa illo quos consectetur quia. Aliquid dolores veniam dicta, minus non sed molestias. Dolor sit ullam similique, illo debitis obcaecati.
                  </p>
                  <ul class="nav flex-column mt-2 px-5">
                    <li class="nav-item my-1">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      Operate incredibly
                    </li>
                    <li class="nav-item my-1">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      Awesome functionality
                    </li>
                    <li class="nav-item my-1">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      5GB RAM
                    </li>
                    <li class="nav-item my-1">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      Updated window
                    </li>
                    <li class="nav-item my-1">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      Well Maintained
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab3">
              <app-reviews></app-reviews>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
