<app-navbar></app-navbar>
<nav style="background: #e9ecef;">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product name</a></li>
      <li class="breadcrumb-item"><a href="#">category</a></li>
      <li class="breadcrumb-item">{{ product.product.item }}</li>
    </ol>
  </div>
</nav>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div id="product-main-img">
          <div class="product-preview" *ngFor="let t of product.image">
            <img [src]="t" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-2 mt-lg-5">
        <div id="product-imgs">
          <div class="product-preview" *ngFor="let t of product.image">
            <img [src]="t" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-lg-5">
        <h1 class="font-weight-bold text-muted">{{ product.product.productName }}</h1>
        <h2 class="text-danger pb-1"> {{ product.product.amount | currency: 'RWF' }}</h2>
        <p><b class="text-muted">Availability:</b> {{ product.product.availability }}</p>
        <p><b class="text-muted">Tags:</b> {{ product.product.tag }}</p>
        <p><b class="text-muted">Color:</b> {{ product.product.colors }}</p>
        <p class="font-weight-normal text-muted mt-3">
          {{ product.product.caption }}
        </p>
        <ul class="nav flex-column mt-2">
          <li class="nav-item my-1" *ngFor="let detail of product.product.details">
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            {{ detail }}
          </li>
        </ul>
        <div class="row">
          <div class="col-5 mt-4">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected disabled value="">Size</option>
              <option *ngFor="let size of product.product.sizes" [value]="size"> {{ size }} </option>
            </select>
          </div>
          <div class="col-7">
            <div class="add-to-cart">
              <button class="add-to-cart-btn" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="product-tab">
          <ul class="nav tab-nav">
            <li><a data-toggle="tab" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews</a></li>
          </ul>
          <div class="tab-content" id="pills-tabContent" style="line-height: 1.8em;letter-spacing: .3px;">
            <div class="tab-pane fade show active" id="tab1">
              <div class="row">
                <div class="col-md-6">
                  <img [src]="product.image[0]" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 mt-md-5 pt-md-5">
                  <p class="text-muted font-weight-normal ">
                    {{ product.product.description }}
                  </p>
                  <ul class="nav flex-column mt-2 px-5">
                    <li class="nav-item my-1" *ngFor="let detail of product.product.details">
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      {{ detail }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab3">
              <div class="container my-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="media">
                      <h3>4.5</h3>
                      <div class="ml-3 media-body">
                        <span style="font-size: 21px;">
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star-o text-danger"></i>
                        </span>
                      </div>
                    </div>
                    <div class="media">
                      <span style="font-size: 21px;">
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                      </span>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-9">
                            <div class="ml-1 progress mt-2">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <p class="font-weight-normal text-muted">3</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <span style="font-size: 21px;">
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                      </span>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-9">
                            <div class="ml-1 progress mt-2">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <p class="font-weight-normal text-muted">2</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <span style="font-size: 21px;">
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                      </span>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-9">
                            <div class="ml-1 progress mt-2">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <p class="font-weight-normal text-muted">0</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <span style="font-size: 21px;">
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                      </span>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-9">
                            <div class="ml-1 progress mt-2">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <p class="font-weight-normal text-muted">0</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <span style="font-size: 21px;">
                        <i class="fa fa-star text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                        <i class="fa fa-star-o text-danger"></i>
                      </span>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-9">
                            <div class="ml-1 progress mt-2">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <p class="font-weight-normal text-muted">0</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <h3 class="font-weight-bold text-muted my-4 my-md-2"> Reviews</h3>
                    <div class="media">
                      <h5>
                        Kevin
                        <br>
                        <span class="mt-5" style="font-size: 14px;">
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star text-danger"></i>
                          <i class="fa fa-star-o text-danger"></i>
                        </span>
                      </h5>
                      <div class="ml-3 media-body">
                        <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your name">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <div class="media">
                        <h5 class="font-weight-normal">Your Rating: </h5>
                        <div class="media-body ml-2">
                          <span>
                            <i class="fa fa-star-o text-danger"></i>
                            <i class="fa fa-star-o text-danger"></i>
                            <i class="fa fa-star-o text-danger"></i>
                            <i class="fa fa-star-o text-danger"></i>
                            <i class="fa fa-star-o text-danger"></i>
                          </span>
                        </div>
                      </div>
                      <button class="btn btn-danger rounded-pill btn-block mt-3"> Submit</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
