<div class="container mb-5">
  <div class="row">
    <div class="col-md-8">
      <div class="bg-image pt-md-4 px-4 d-flex align-content-center justify-content-center flex-wrap">
        <div class="col-md-7 my-3">
          <h4 class="text-white pt-3" style="line-height: 1.4em;">
            Place my Order! Get more <br> than what you expected with Us.
          </h4>
          <button class="btn btn-danger mt-1"> Contact Us</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 my-md-0 my-4">
      <div class="bg-image2 d-flex align-content-center justify-content-center flex-wrap pt-md-4 px-4 text-center">
        <h3 class="text-white pt-md-2" style="line-height: 1.4em;"> Enjoy <br> some Discount <br> with Us!</h3>
      </div>
    </div>
  </div>
</div>
