<section class="m-md-5 mx-2 my-4">
  <div class="card shadow border-0">
    <div class="card-header bg-white">
      <div class="clearfix">
        <h3 class="font-weight-bold">Latest Order</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col"># textId</th>
              <th scope="col">Purchase Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Grand Total</th>
              <th scope="col">Tax</th>
              <th scope="col">Shipping</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orders">
              <th scope="row">
                {{ o.textId }}
              </th>
              <td>
                {{ o.date | date}}
              </td>
              <td>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    {{ o.firstName}}
                  </span>
                </div>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    {{ o.lastName}}
                  </span>
                </div>
              </td>
              <td>
                {{ o.cart.totalPrice }}
              </td>
              <td>
                {{ o.cart.totalPrice * 18 / 100 }}
              </td>
              <td>3</td>
              <td>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    {{ o.status }}
                  </span>
                </div>
              </td>
              <td>
                <div class="d-inline p-2">
                  <button
                    class="btn btn-danger btn-sm"
                    [routerLink]="['approval', o._id]">
                    <i class="fa fa-pencil-square-o mr-1"></i>
                    Approve
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
