<section class="m-md-5 mx-2 my-4">
  <div class="card shadow border-0">
    <div class="card-header bg-white">
      <div class="clearfix">
        <h5>Latest Order</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Purchase Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Grand Total</th>
              <th scope="col">Tax</th>
              <th scope="col">Shipping</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">3</th>
              <td>24/06/13</td>
              <td>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    Damon
                  </span>
                </div>
              </td>
              <td>$5000</td>
              <td>10</td>
              <td>3</td>
              <td>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    Complete
                  </span>
                </div>
              </td>
              <td>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    <i class="fa fa-pencil-square-o mr-1"></i>
                    View
                  </span>
                </div>
                <div class="d-inline p-2">
                  <span class="p-1 rounded" style="background-color: #f1f1fd;">
                    <i class="fa fa-trash-o mr-1"></i>
                    Remove
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
