<section>
  <div class="filterButtonContainer">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <span class="hideLarge" (click)="filterOpen()">
            <i class="fa fa-filter fa-1x my-2"></i>
          </span>
        </div>
        <div class="col">
          <span class="hideLarge">
            <i class="fa fa-heart fa-1x my-2"></i>
          </span>
        </div>
        <div class="col">
          <span class="hideLarge" routerLink="/reviews">
            <i class="fa fa-envelope-o fa-1x my-2"></i>
          </span>
        </div>
        <div class="col">
          <span class="hideLarge" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart fa-1x my-2"></i>
          </span>
        </div>
        <div class="col">
          <span class="hideLarge" routerLink="/home">
            <i class="fa fa-home fa-1x my-2"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="Container">
    <!-- Sidebar/menu -->
    <div class="sideOut collapse white mt-lg-5 py-md-4" style="z-index: 3;" #filter>
      <div class="cards">
        <div class="card">
          <div class="card-body">
            Click icon to close menu
            <button type="button" class="close" aria-label="Close" (click)="filterClose()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="categories px-4">
        <h2 class="font-weight-bold mt-3" style="letter-spacing: .01em;"> Categories </h2>
        <app-filter></app-filter>
      </div>
    </div>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="overlay hideLarge" (click)="filterClose()" style="cursor:pointer" #myOverlay></div>
    <div class="product">
      <div class="container">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li [class.active]="!category">
                <a routerLink="/home">All</a>
              </li>
            </ul>
          </div>
          <hr class="mt-0 pt-0">
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-4 col-6 my-md-0 my-2" *ngFor="let p of filteredProducts">
            <app-product-card [product]="p"></app-product-card>
          </div>
        </div>
        <mat-paginator
          [length]="totalPosts"
          [pageSize]="postsPerPage"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onChangedPage($event)"
          *ngIf="filteredProducts.length > 0"
        ></mat-paginator>
      </div>
    </div>
  </div>
</section>
