.card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 15px;
}
.card h6 {
  font-size: 13px;
}
.card p {
  color: #e28101;
  font-size: 15px;
  font-weight: 700;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  height: 30px;
  margin: 0 2px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  background: #e28101;
}

.sideOut{
	width: 250px;
	margin-top: -.2rem;
	background-color:#fff;
	position: absolute;
	z-index: 1;
	overflow: auto
}
.white{
	color:#000!important;
  background-color:#fff!important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.filterButtonContainer {
  display: none;
}
.overlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.5);
	z-index: 2;
}
@media (min-width: 993px) {
  .sideOut, .collapse{
    display:block!important;
    border-bottom-left-radius: 2em;
    margin-top: -.10rem !important;
  }
  .cards {
    display: none;
  }
  .product {
    margin-left: 280px;
  }
  .Container {
    margin: 10px 0px;
  }
	.hideLarge{
		display: none !important;
  }
}
@media (max-width: 992px) {
  .cards {
    display: block;
  }
  .sideOut, .collapse{
    display:none;
    height: 100%;
    top: 0;
    position: fixed;
    width: 325px;
  }
  .card .card-body {
    padding: 15px 12px !important;
  }
  .filterButtonContainer {
    display: flex;
    padding: 7px 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5)!important;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    color: #1d1c1c;
    z-index: 1;
  }
}
