<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="bg-image">
      <h1 class="d-flex justify-content-center align-items-center text-white">Thank You</h1>
    </div>
    <div class="col-md-8 offset-md-2 mb-5">
      <div class="card shadow p-4">
        <h4 class="font-weight-bold text-muted text-center" style="line-height: 1.5em;">
          For Everything you have done with
          <br>
          Finn Solutions App
        </h4>
        <hr>
        <h5 class="font-weight-normal text-center text-muted"> Spread the world</h5>
        <span>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-twitter"></i>
        </span>
      </div>
    </div>
  </div>
</section>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
