
<section class="m-md-5 mx-2 my-4">
  <div class="row mb-4">
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Our Products
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-microchip font-weight-bold" style="color: #15b658;font-size: 1.6em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 14px; background-color: #effff6; color: #00ff9d;">
              72
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Discounts
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-wpexplorer font-weight-bold" style="color: #aa74bb;font-size: 1.6em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 14px; background-color: #ffeffb; color: #ff00ea;">
              15
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Total Orders
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-inbox font-weight-bold" style="color: #c85b48;font-size: 1.6em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 14px; background-color: #effbff; color: #00b7ff;">
              14
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Total Reviews
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-envelope-o font-weight-bold" style="color: #159eb6;font-size: 1.6em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 14px; background-color: #fdefff; color: #e100ff;">
              32
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="font-weight-bold">
    Available products
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <td>Image</td>
          <td>Title</td>
          <td>Tag</td>
          <td>Owner</td>
          <td>Amount</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of product">
          <td class="row">
            <img src="{{p.image[0]}}" style="height: 5vh;" alt="">
          </td>
          <td>
            {{ p.product.productName }}
          </td>
          <td>
            {{ p.product.tag }}
          </td>
          <td>
            {{ p.product.owner }}
          </td>
          <td>
            {{ p.product.amount }}
          </td>
          <td>
            <a [routerLink]="['/admin/dashboard/', p._id]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="font-weight-bold mt-md-5 mb-3">
    Available products
  </h2>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <td>Image</td>
              <td>Title</td>
              <td>Tag</td>
              <td>Owner</td>
              <td>Amount</td>
              <td>Percentage</td>
              <td>New Amount</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of discount">
              <td class="row">
                <img src="{{d.product.image[0]}}" style="height: 5vh;" alt="">
              </td>

              <td>
                {{ d.product.product.productName }}
              </td>
              <td>
                {{ d.product.product.tag }}
              </td>
              <td>
                {{ d.product.product.owner }}
              </td>
              <td>
                {{ d.product.product.amount }}
              </td>
              <td>
                {{ d.percentage }}
              </td>
              <td>
                {{ d.newAmount }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
