
<section class="m-md-5 mx-2 my-4">
  <div class="row mb-4">
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Our Products
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-microchip font-weight-bold" style="color: #15b658;font-size: 1.8em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 15px; background-color: #effff6; color: #00ff9d;">
              72
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Discounts
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-wpexplorer font-weight-bold" style="color: #aa74bb;font-size: 1.8em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 15px; background-color: #ffeffb; color: #ff00ea;">
              15
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Total Orders
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-inbox font-weight-bold" style="color: #c85b48;font-size: 1.8em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 15px; background-color: #effbff; color: #00b7ff;">
              14
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 .col-sm-6 my-lg-0 my-2">
      <div class="card shadow border-0">
        <div class="card-body pb-0">
          <h6 class="font-weight-bold text-muted" style="font-size: 13px;">
            Total Reviews
          </h6>
          <div class="clearfix pt-2">
            <span class="float-left">
              <i class="fa fa-envelope-o font-weight-bold" style="color: #159eb6;font-size: 1.8em;"></i>
            </span>
            <p
              class="rounded-pill float-right px-3 py-1 font-weight-bold"
              style="font-size: 15px; background-color: #fdefff; color: #e100ff;">
              32
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow border-0">
        <div class="card-header bg-white">
          <div class="clearfix">
            <h3 class="font-weight-bold">Available products</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Images</th>
                  <th scope="col">Title</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Amount</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of product">
                  <th scope="row">
                    <img [src]="p.image[0]" style="height: 5vh;" alt="">
                  </th>
                  <td>
                    {{ p.product.productName }}
                  </td>
                  <td>
                    {{ p.product.tag }}
                  </td>
                  <td>
                    {{ p.product.owner }}
                  </td>
                  <td>
                    {{ p.product.amount }}
                  </td>
                  <td>
                    <div class="d-inline p-2" [routerLink]="['/admin/dashboard/', p._id]">
                      <span class="p-1 rounded" style="background-color: #f1f1fd;">
                        <i class="fa fa-pencil-square-o"></i>
                        Edit
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let m of mails">
          {{ m.email }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div class="card shadow border-0">
        <div class="card-header bg-white">
          <div class="clearfix">
            <h3 class="font-weight-bold">Latest Order</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Images</th>
                  <th scope="col">Title</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Percentage</th>
                  <th scope="col">New Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of discount">
                  <th scope="row">
                    <img [src]="d.product.image[0]" style="height: 5vh;" alt="">
                  </th>
                  <td>
                    {{ d.product.product.productName }}
                  </td>
                  <td>
                    {{ d.product.product.tag }}
                  </td>
                  <td>
                    {{ d.product.product.owner }}
                  </td>
                  <td>
                    {{ d.product.product.amount }}
                  </td>
                  <td>
                    {{ d.percentage }}
                  </td>
                  <td>
                    {{ d.newAmount }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
