<section class="pt-4 py-2" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-10 my-2">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="1000">
              <img src="https://c0.wallpaperflare.com/preview/358/241/275/computer-credit-card-purchase-buy.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1000">
              <img src="https://c0.wallpaperflare.com/preview/902/766/470/business-buyers-buying-checkout.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1000">
              <img src="https://c0.wallpaperflare.com/preview/174/131/809/money-sale-shopping-retail.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-2 my-2 banner">
        <div class="my-1">
          <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image" />
        </div>
        <div class="my-1">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image" />
        </div>
        <div class="my-1">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image" />
        </div>
      </div>
    </div>
  </div>
</section>
