<section class="m-md-5 mx-2 my-4">
  <h1 class="text-danger font-weight-bold my-4"> Upload Product</h1>
  <form [formGroup]="form" (ngSubmit)="saveProduct()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            formControlName="productName"
            type="text"
            class="form-control"
            placeholder="Product name*"
          >
          <div class="alert alert-danger" *ngIf="productName.invalid && productName.touched">
            <div *ngIf="productName.errors.required"> This field is required</div>
            <div *ngIf="productName.errors.minlength"> Minimum characters {{ productName.errors.minlength.requiredLength }} </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-md-6 mb-4 m-md-0">
            <select class="custom-select" (ngModelChange)="onCategoryChanged($event)" formControlName="categoryId">
              <option selected disabled value="">Category *</option>
              <option *ngFor="let c of categories" [value]="c._id">
                {{ c.name }}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="categoryId.invalid && categoryId.touched">
              Field is required
            </div>
          </div>
          <div class="col-md-6">
            <select class="custom-select" id="subCategory" formControlName="subCategoryId">
              <option selected disabled value="">Sub-category * </option>
              <option *ngFor="let s of selectSub" [value]="s._id">
                {{ s.name }}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="subCategoryId.invalid && subCategoryId.touched">
              Field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group mt-2 mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Size*"
                #size
              >
              <div class="alert alert-danger" *ngIf="sizes.invalid && sizes.touched">
                This field is required
              </div>
            </div>
          </div>
          <div class="col-1">
            <span class="float-right mt-md-1 mt-2">
              <i class="fa fa-plus" (click)="addSize(size)"></i>
            </span>
          </div>
        </div>
        <ul class="list-group">
          <li
            style="cursor: pointer;"
            class="list-group-item"
            *ngFor="let s of sizes.controls"
            (click)="removeSize(s)"
          >
            {{ s.value }}
          </li>
        </ul>
        <div class="row mb-2">
          <div class="col-md-6 mb-2 m-md-0">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Availability*"
                formControlName="availability"
              >
              <div class="alert alert-danger" *ngIf="availability.invalid && availability.touched">
                This field is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Color*"
                formControlName="colors"
              >
              <div class="alert alert-danger" *ngIf="colors.invalid && colors.touched">
                This field is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea
            rows="3"
            class="form-control"
            placeholder="Caption*"
            formControlName="caption"
          ></textarea>
          <div class="alert alert-danger" *ngIf="caption.invalid && caption.touched">
            <div *ngIf="caption.errors.required">
              This field is required
            </div>
            <div *ngIf="caption.errors.minlength">
              Minimum characters {{ caption.errors.minlength.requiredLength }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group mb-4 m-md-0">
              <input
                type="text"
                class="form-control"
                placeholder="Item*"
                formControlName="item"
              >
              <div class="alert alert-danger" *ngIf="item.invalid && item.touched">
                This field is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Tag*"
                formControlName="tag"
              >
              <div class="alert alert-danger" *ngIf="tag.invalid && tag.touched">
                This field is required
              </div>
            </div>
          </div>
        </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Owner" formControlName="owner">
            <div class="alert alert-danger" *ngIf="owner.invalid && owner.touched">
              Field is required!
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <div class="form-group mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Details*"
                  #detail
                >
              </div>
            </div>
            <div class="col-1">
              <span class="float-right">
                <i class="fa fa-plus" (click)="addDetails(detail)"></i>
              </span>
            </div>
          </div>
          <ul class="list-group">
            <li
              style="cursor: pointer;"
              class="list-group-item"
              *ngFor="let d of details.controls"
              (click)="removeSize(d)"
            >
              {{ d.value }}
            </li>
          </ul>
        <div class="form-group mb-4">
          <textarea
            rows="5"
            class="form-control"
            placeholder="Description*"
            formControlName="description"
          ></textarea>
          <div class="alert alert-danger" *ngIf="description.invalid && description.touched">
            <div *ngIf="description.errors.required">
              This field is required
            </div>
            <div *ngIf="description.errors.minlength">
              Minimum length is {{ description.errors.minlength.requiredLength }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Amount*"
            formControlName="amount"
          >
          <div *ngIf="amount.invalid && amount.touched" class="alert alert-danger">
            This field is required
          </div>
        </div>
        <button class="btn btn-danger btn-block" [disabled]="!form.valid" data-target="#collapseExample" data-toggle="collapse">
          Uploads
        </button>
      </div>
    </div>
  </form>
  <div class="collapse shadow mt-4 p-4" id="collapseExample">
    <form [formGroup]="imageForm" (ngSubmit)="onSave()">
      <div class="form-group mb-4">
        <input type="file" (change)="onSelect($event)" multiple>
        <div class="row">
          <div class="col-md-3 m-2" *ngFor='let url of urls'>
            <img [src]="url" class="img-fluid">
          </div>
        </div>
      </div>
      <button class="btn btn-danger btn-block"> Save product</button>
    </form>
  </div>
</section>
