<div class="container">
  <div class="card shadow">
    <div class="card-body pt-5">
      <div class="row">
        <div class="col-md-7">
          <h1 class="font-weight-bold ml-md-5 my-0">
            {{ product.product.productName }}
          </h1>
          <h3 class="font-weight-bold text-muted ml-md-5 my-0">
            {{ product.product.tag }}
          </h3>
          <img [src]="product.image[0]" class="img-fluid" alt="">
        </div>
        <div class="col-md-5 mt-md-5 pt-md-5">
          <p><b class="text-muted">Availability:</b> {{ product.product.availability }}</p>
          <p><b class="text-muted">Tags:</b> {{ product.product.tag }}</p>
          <p><b class="text-muted">Color:</b> {{ product.product.colors }}</p>
          <p class="font-weight-normal">
            {{ product.product.description}}
          </p>
          <h3 class="font-weight-bold text-muted mt-4">Details:</h3>
          <ul class="nav flex-column mb-3">
            <li class="nav-item" *ngFor="let detail of product.product.details">
              <span>
                <li class="fa fa-check text-danger"></li>
              </span>
              {{ detail }}
            </li>
          </ul>
          <h2 class="font-weight-bold text-danger">
            <i>
              {{ product.product.amount | currency: 'RWF' }}
            </i>
          </h2>
          <hr>
          <form (ngSubmit)="addToDiscount()">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Percentage"
                [(ngModel)]="percentage"
                name="percentage">
            </div>
            <button class="btn btn-danger btn-block"> Add to Discount</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
