<!-- Navbar-->
<nav class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mt-3 text-white">
        <h2 class="font-weight-bold text-white d-flex justify-content-center mt-md-1" routerLink="/home">LOGO</h2>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="header-search">
          <form>
            <input class="input" placeholder="Search products...">
            <button class="search-btn">Search</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="nav d-flex justify-content-center mt-md-3">
          <li routerLink="/reviews">
            <i class="fa fa-envelope-o"></i>
						<span> Reviews </span>
          </li>
          <li>
            <i class="fa fa-heart-o"></i>
            <span> Your wist </span>
            <sup class="qty">2</sup>
          </li>
          <li routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart"></i>
						<span> Your Cart </span>
						<sup class="qty">
              {{ cartItemCount || 0 }}
            </sup>
          </li>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--/. Navbar-->
