<app-navbar></app-navbar>
<nav style="background: #e9ecef;">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product name</a></li>
      <li class="breadcrumb-item"><a href="#">category</a></li>
    </ol>
  </div>
</nav>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div id="product-main-img">
          <div
            class="product-preview"
            *ngFor="let d of discount['product'].image"
          >
            <img [src]="d" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-2 mt-lg-5">
        <div id="product-imgs">
          <div
            class="product-preview"
            *ngFor="let t of discount['product'].image"
          >
            <img [src]="t" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-lg-5">
        <h1 class="font-weight-bold text-muted">
          {{ discount.product.product.productName }}
        </h1>
        <h2 class="text-danger pb-1">
          {{ discount.newAmount | currency: "RWF" }}
        </h2>
        <p>
          <b class="text-muted">Availability:</b>
          {{ discount.product.product.availability }}
        </p>
        <p>
          <b class="text-muted">Tags:</b> {{ discount.product.product.tag }}
        </p>
        <p>
          <b class="text-muted">Color:</b>
          {{ discount.product.product.colors }}
        </p>
        <p class="font-weight-normal text-muted mt-3">
          {{ discount.product.product.caption }}
        </p>
        <ul class="nav flex-column mt-2">
          <li
            class="nav-item my-1"
            *ngFor="let detail of discount.product.product.details"
          >
            <span>
              <li class="fa fa-check text-danger"></li>
            </span>
            {{ detail }}
          </li>
        </ul>
        <div class="row">
          <div class="col-5 mt-4">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected disabled value="">Size</option>
              <option
                *ngFor="let size of discount.product.product.sizes"
                [value]="size"
              >
                {{ size }}
              </option>
            </select>
          </div>
          <div class="col-7">
            <div class="add-to-cart">
              <button class="add-to-cart-btn" (click)="addToCart(discount)">
                <i class="fa fa-shopping-cart"></i> add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="product-tab">
          <ul class="nav tab-nav">
            <li><a data-toggle="tab" href="#tab1">Description</a></li>
          </ul>
          <div
            class="tab-content"
            id="pills-tabContent"
            style="line-height: 1.8em; letter-spacing: 0.3px;"
          >
            <div class="tab-pane fade show active" id="tab1">
              <div class="row">
                <div class="col-md-6">
                  <img
                    [src]="discount.product.image[0]"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="col-md-6 mt-md-5 pt-md-5">
                  <p class="text-muted font-weight-normal">
                    {{ discount.product.product.description }}
                  </p>
                  <ul class="nav flex-column mt-2 px-5">
                    <li
                      class="nav-item my-1"
                      *ngFor="let detail of discount.product.product.details"
                    >
                      <span>
                        <li class="fa fa-check text-danger"></li>
                      </span>
                      {{ detail }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
