<app-navbar></app-navbar>
<nav style="background: #e9ecef;">
  <div class="container">
    <div class="media py-3">
      <h3 class="font-weight-bold text-muted mt-2">CHECKOUT</h3>
      <div class="media-body">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-muted">HOME</a></li>
          <li class="breadcrumb-item"><a class="text-muted">CHECKOUT</a></li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<section class="my-md-5">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="saveOrder()">
      <div class="row">
        <div class="col-md-7">
          <h4 class="text-muted font-weight-bold my-3">BILLING ADDRESS</h4>
          <div class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    formControlName="firstName"
                  >
                  <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">
                    <div *ngIf="firstName.errors.required"> This Field is required!</div>
                    <div *ngIf="firstName.errors.minlength"> This Field length must be {{ firstName.errors.minlength.requiredLength }}</div>
                    <div *ngIf="firstName.errors.maxlength"> This Field length must be {{ firstName.errors.maxlength.requiredLength }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    formControlName="lastName"
                  >
                  <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">
                    <div *ngIf="lastName.errors.required"> This Field is required!</div>
                    <div *ngIf="lastName.errors.minlength"> This Field length must be {{ lastName.errors.minlength.requiredLength }}</div>
                    <div *ngIf="lastName.errors.maxlength"> This Field length must be {{ lastName.errors.maxlength.requiredLength }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              >
              <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                <div *ngIf="email.errors.required"> This Field is required!</div>
                <div *ngIf="email.errors.email"> Provide a valid Email </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Address 1*"
                formControlName="adress1"
              >
              <div class="alert alert-danger" *ngIf="adress1.invalid && adress1.touched">
                <div *ngIf="adress1.errors.required"> This Field is required!</div>
                <div *ngIf="adress1.errors.minlength"> This Field length must be {{ adress1.errors.minlength.requiredLength }}</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Address 2">
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Country"
                    formControlName="country"
                  >
                  <div class="alert alert-danger" *ngIf="country.invalid && country.touched">
                    <div *ngIf="country.errors.required"> This Field is required!</div>
                    <div *ngIf="country.errors.minlength"> This Field length must be {{ country.errors.minlength.requiredLength }}</div>
                    <div *ngIf="country.errors.maxlength"> This Field length must be {{ country.errors.maxlength.requiredLength }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    formControlName="city"
                  >
                  <div class="alert alert-danger" *ngIf="city.invalid && city.touched">
                    <div *ngIf="city.errors.required"> This Field is required!</div>
                    <div *ngIf="city.errors.minlength"> This Field length must be {{ city.errors.minlength.requiredLength }}</div>
                    <div *ngIf="city.errors.maxlength"> This Field length must be {{ city.errors.maxlength.requiredLength }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Zip Code">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Phone Number"
                formControlName="phone"
              >
              <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">
                <div *ngIf="phone.errors.required"> This Field is required!</div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" placeholder="Order Note"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card shadow border-0">
            <h4 class="card-title text-center my-4 font-weight-bold text-muted">
              YOUR ORDER
            </h4>
            <div class="card-body">
              <div class="clearfix mb-4">
                <h2 class="font-weight-bold text-muted float-left"> Product</h2>
                <h2 class="font-weight-bold text-muted float-right"> Total</h2>
              </div>
              <div class="clearfix my-3" *ngFor="let c of carts['products']">
                <p class="text-muted float-left" style="font-size: 15px;"> {{ c.item.product.productName }} </p>
                <p class="float-right font-weight-bold" style="font-size: 12px;">{{ c.item.product.amount | currency: 'RWF' }}</p>
              </div>
              <hr>
              <div class="clearfix my-4">
                <h4 class="float-left"><b class="text-muted"> Total </b></h4>
                <h4 class="float-right"> <b class="text-danger"> {{ carts.totalPrice | currency: 'RWF' }} </b></h4>
              </div>
              <div class="clearfix my-3">
                <p class="text-muted float-left" style="font-size: 15px;"> Shipping</p>
                <p class="float-right"> <b class="text-muted"> On Delivery </b></p>
              </div>
              <a href="#" data-toggle="modal" data-target="#terms">
                <p class="text-center text-muted font-weight-bold">
                  Read the terms & Conditions
                </p>
              </a>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="text Id..."
                    formControlName="textId"
                  >
                  <div class="alert alert-danger" *ngIf="textId.invalid && textId.touched">
                    <div *ngIf="textId.errors.required"> This Field is required!</div>
                    <div *ngIf="textId.errors.minlength"> The Mobile Money IdText is invalid</div>
                    <div *ngIf="textId.errors.maxlength"> The Mobile Money IdText is invalid</div>
                  </div>
                </div>
                <select
                  class="custom-select mb-4"
                  id="delivery">
                  <option selected disabled value="">Delivery </option>
                  <option>...</option>
                </select>
              <button class="btn btn-danger btn-lg btn-block rounded-pill" [disabled]="form.invalid">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl shadow">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
