<div class="card shadow">
  <div class="card-body border-0">
    <div class="row text-center">
      <div class="col-md-5">
        <div *ngFor="let i of orders.cart?.products">
          <img [src]="i.item.image[0]" alt="" style="width: 20vw; height: auto;">
          <h3 class="font-weight-bold text-muted">
            {{ i.item.product.productName }}
          </h3>
          <p class="font-weight-normal text-muted">
            {{ i.item.product.caption }}
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <button class="btn btn-danger" (click)="Approve()"> Approve </button>
      </div>
    </div>
  </div>
</div>
