.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
}
.dropdown-menu {
  width: 100%;
  padding: 3px 10px;
  border: 2px solid #e28101;
  border-top: 0;
}
li .nav-link {
  color: #444;
}
