<div class="card" style="cursor: pointer;">
  <img [src]="product.image[0]" class="card-img-top" alt="...">
  <div class="card-body px-3">
    <h4 class="card-text m-0">{{ product.product.productName }}</h4>
    <p class="font-weight-bold text-muted m-0 mb-2"> {{ product.product.subCategory['name'] }}</p>
    <div class="clearfix">
      <p class="float-left mt-2">{{ product.product.amount | currency: 'RWF'}} </p>
      <span class="float-right mt-md-1 mt-2">
        <i class="fa fa-shopping-cart" (click)="addToCart()"></i>
        <i class="fa fa-heart"></i>
      </span>
    </div>
  </div>
</div>
